* {
  box-sizing: border-box;
}

body {
background-color: rgb(ff, ff, ff);
margin: 0;
}
/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 2px;
}

/* Left and right column */
.column.side {
  width: 10%;
}

/* Middle column */
.column.middle {
  width: 80%;
  border: 3px solid #73AD21;
}

/* Clear floats after the columns */
.row:after {
  background-color: rgb(0, 0, 0);
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
      width: 100%;
  }
}

.pantalla_normal{
  z-index: 6;
  position: relative;
  height: 730px;
  width: 1080px;
  background-color: rgb(0, 0, 0);
  background-image: url(normal.png);
  background-repeat:no-repeat;
  background-position: center; 
  margin-left: 0px;
  margin-top: -730px;
}

.pantalla_guardado{
  z-index: 2;
  position: relative;
  height: 730px;
  width: 1080px;
  background-color: rgb(0, 0, 0);
  background-image: url(gu.png);
  background-repeat:no-repeat;
  background-position: center; 
  margin-left: 0px;
  margin-top: -730px;
}

.pantalla_numero1{
  z-index: 3;
  position: relative;
  height: 730px;
  width: 1080px;
  background-color: rgba(0, 0, 0, 0.603);
  background-image: url(one256.png);
  background-repeat:no-repeat;
  background-position: center; 
  margin-left: 0px;
  margin-top: -730px;
}
.pantalla_numero2{
  z-index: 4;
  position: relative;
  height: 730px;
  width: 1080px;
  background-color: rgba(0, 0, 0, 0.603);
  background-image: url(two256.png);
  background-repeat:no-repeat;
  background-position: center; 
  margin-left: 0px;
  margin-top: -730px;
}
.pantalla_numero3{
  z-index: 5;
  position: relative;
  height: 730px;
  width: 1080px;
  background-color: rgba(0, 0, 0, 0.603);
  background-image: url(three256.png);
  background-repeat:no-repeat;
  background-position: center; 
  margin-left: 0px;
  margin-top: -730px;
}

.logoBGR{
  float: left;
  z-index: 5;                 
  position: relative;
  height: 110px;
  width: 15%;
  background-image: url(logoBGR2.png);
  background-repeat:no-repeat;
  background-position: center; 
}
article {
  float: left;
  width: 70%;
  text-align: center;
  height: 110px; /* only for demonstration, should be removed */
  background-color: rgba(0,0,0,0); 
}

h1, hr {
  margin: 3;
  padding: 0;
  line-height: 0.9;
}
hr, p {
  margin: 0;
  padding: 0;
  line-height: 0.9;
}

.logoProyecto{
  float: left;
  z-index: 5;                 
  position: relative;
  height: 110px;
  width: 15%;
  background-color: rgba(255,255,255);
  background-image: url(logoBGR2.png);
  background-repeat:no-repeat;
  background-position: center; 
}

/* Clear floats after the columns */
.logoIicio:after {
  background-color: rgb(0, 0, 0);
  content: "";
  display: table;
  clear: both;
}

hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 3px;
  background-color: rgb(226, 213, 33);
  border-color: rgb(255, 255, 0);
}

h1 { 
  color: blue;
  font-family: verdana;
  font-size: 150%;
}

video {
  z-index: 1;
  position: relative;
  background: #222;
  /*margin: 10px auto;*/
  display: block;
  margin-bottom:1%;
  margin-top:1%;
  margin-left: auto;
  margin-right: auto;
  /*width: 360px;
  height:240px;*/
  width: 88%;
  /*height:600x;*/
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg); /* Safari and Chrome */
  -moz-transform:rotateY(180deg); /* Firefox */
}

#rec{
  z-index: 3;
  position: absolute;
  height: 125px;
  width: 125px;
  background-color:  rgb(0, 0, 0,0.03);
  background-image: url(rec.png);
  background-repeat:no-repeat;
  background-position: center; 
  margin-left: 2px;
  margin-top: 315px;
  border-radius:40px;
}

#stop{
  z-index: 2;
  position: absolute;
  height: 125px;
  width: 125px;
  background-color:  rgb(0, 0, 0,0.03 );
  background-image: url(stop.png);
  background-repeat:no-repeat;
  background-position: center; 
  margin-left: 2px;
  margin-top: 315px;
  border-radius:40px;
}
#demo{
  z-index: 1;
  position: absolute;
  /*height: 125px;*/
  width: 10px;
  /*border-color: rgb(61, 54, 54);*/
  color: beige;
  background-color: rgb(61, 54, 54);
  margin-left: 50px;
  margin-top: 730px;
}

#data{
  display: none;
}

.bg {
  /* The image used */
  background-image: url("backg3.jpeg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

